@mixin button() {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0.6em 1.2em;
  font-size: 14px;
}

.controlPanel {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 400px) {
    gap: 4px;
  }
}

.currentYear {
  font-size: 22px;
  font-weight: bold;
  color: #666;

  @media screen and (max-width: 400px) {
    font-size: 16px;
  }
}

.prevButton,
.nextButton {
  @include button();
  background: #fff;
  color: #1976d2;

  &:hover {
    background: #1976d21a;
  }

  @media screen and (max-width: 400px) {
    padding: 4px;
  }
}

.prevButtonLabel,
.nextButtonLabel {
  @media screen and (max-width: 400px) {
    display: none;
  }
}
